body {
    background: #0f172a;
    color: #e2e8f0;
    font-family: "Segoe UI", Arial, sans-serif;
}

#container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

#input-section {
    display: flex;
    flex-direction: row;
    width: 100%;

}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 5px 5px 0;
    border-radius: 8px;
    border: 1px solid #334155;
    background: #1e293b;
    color: #e2e8f0;
    font-size: 14px;
    transition: o.2s ease;
}

input:hover {
    opacity: 0.85;
}

input::placeholder {
    color: #64748b;
}

button {
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    background: #6366f1;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #4f46e5;
}

tr {
    display: flex;
    flex-direction: row;
    width: max-content;
}

td {
    border: 1px solid #334155;
    padding: 14px;
    width: 50px;
    height: 50px;
    font-size: 16px;
    font-size: 15px;
    white-space: nowrap;
}

td:hover {
    background: #334155;
    transition: 0.2s;
}

.boxresult-table { 
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.brtable {
    overflow: auto;
    max-width: 560px;
    max-height: 560px;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    background: #1e293b;
    border-radius: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.brtable::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.brtable::-webkit-scrollbar-track {
    background: transparent;
}

.brtable::-webkit-scrollbar-thumb {
    background: #4a5568;
    border-radius: 999px;
}

.brtable::-webkit-scrollbar-thumb:hover {
    background: #64748b;
}

.brtable::-webkit-scrollbar-corner {
    background: transparent;
}

::selection {
    background: #6366f1;
    color: #ffffff;
}